
.genreBox:hover{
	.title{
		color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
	}
	position: absolute;
	z-index: 3;
	top: 160px; left: 60px;
	border-style: solid;
	border-width: 0.2px;
	width: 100px;
	border-radius: 15px;
	background-color: #BBB6FF;
	.listBox{
		list-style-type: none;
		line-height: 180%;
		margin-left: -30px;
		li{
			margin: 5px;
			button{
				background-color: #BBB6FF;
				border-style: none;

			}

			button:hover{
				font-weight: bold;
				font-size: 15px;
			}
		}

	}
}
.genreBox{
	    .asideA {
	    color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
    	z-index:2;
		position: absolute;
		top: 18px;
		left:-70px;
		border-style: solid;
		border-width: 0.2px;
		padding: 10px;
		border-radius: 15px;
		background-color: #BBB6FF;
		text-align: center;
		height:30px;
		border-bottom-style: none;


		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	}

	.title{
		color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
	}
	position: absolute;
	z-index: 3;
	top: 150px; left: 130px;
	border-style: solid;
	border-width: 0.2px;
	width: 100px;
	border-radius: 15px;
	background-color: #BBB6FF;
	.listBox{
		list-style-type: none;
		line-height: 180%;
		margin-left: -30px;
		li{
			margin: 5px;
			button{
				background-color: #BBB6FF;
				border-style: none;

			}

			button:hover{
				font-weight: bold;
				font-size: 15px;
			}
		}

	}
}