
.subscribed:hover{
	.title{
		color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
	}
	position: absolute;
	z-index: 3;
	top: 550px; left: 60px;
	border-style: solid;
	border-width: 0.2px;
	//padding: 10px;
	width: 100px;
	border-radius: 15px;
	background-color: #D7D4FF;
	//margin: 20px;
	.listBox{
		list-style-type: none;
		//list-style-type: circle;
		line-height: 180%;
		margin-left: -30px;
		//justify-content: space-between; 
		li{
			margin: 5px;
			button{
				background-color: #D7D4FF;
				border-style: none;

			}

			button:hover{
				font-weight: bold;
				font-size: 15px;
			}
		}
		//display:flex;
		//justify-content: space-between;
	  //display: flex;
	  //flex-flow: row wrap;

	}
}
.subscribed{
	  .asideB {
	    color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
    	z-index:2;
		position: absolute;
		border-style: solid;
		border-width: 0.2px;
		padding: 10px;
		//width: 70px;
		border-radius: 15px;
		background-color: #D7D4FF;
		text-align: center;
		height:30px;
		border-bottom-style: none;
		left: -90px;
		top: 25px;


		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	}

	.title{
		color:black;
		margin: 5px;
		margin-left:10px;
		font-size: 20px;
	}
	position: absolute;
	z-index: 3;
	top: 550px; left: 130px;
	border-style: solid;
	border-width: 0.2px;
	min-height: 100px;
	//padding: 10px;
	width: 100px;
	border-radius: 15px;
	background-color: #D7D4FF;
	//margin: 20px;
	.listBox{
		list-style-type: none;
		//list-style-type: circle;
		line-height: 180%;
		margin-left: -20px;
		//justify-content: space-between; 
		li{
			margin: 5px;
			button{
				background-color: #D7D4FF;
				border-style: none;

			}

			button:hover{
				font-weight: bold;
				font-size: 15px;
			}
		}
		//display:flex;
		//justify-content: space-between;
	  //display: flex;
	  //flex-flow: row wrap;

	}
}